<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>회원가입-배달가치</title>
    <link rel="stylesheet" href="../../../../static/css/reset.css">
    <link rel="stylesheet" href="../../../../static/css/common_style.css">
    <link rel="stylesheet" href="../../../../static/css/common/activate_password.css">
    <script defer type="text/javascript" src="../../../../static/js/common/activate_password.js"></script>
</head>

<body>
    {% csrf_token %}
    <header>
        <div class="header-area" onclick="location.href='/'">
            <div class="logo-box">
                <img class="logo-image" src="../../../../static/image/bdgc_logo.png">
            </div>
            <div class="profile-box">
                <img class="profile-image" src="../../../../static/image/user_icon.png">
            </div>
        </div>
    </header>
    <h1>비밀번호 변경</h1>
    <h2>변경하실 비밀번호를 입력해주세요</h2>
    
    <div class="login-input-area">

        <div id="ring-parent">
            <div class="lds-ring hidden"><div></div><div></div><div></div><div></div></div>
        </div>
        <div class="user-password-box">
            <input type="password" id="input_password" placeholder="새 비밀번호" spellcheck="false" autofocus>
        </div>
       
        <div class="user-password-box">
            <input type="password" id="input_re_password" placeholder="비밀번호 재입력" spellcheck="false" >
        </div>
    </div>

    <a>
    <button class="button next-button-solo blue-button-disable" id="verify-button" disabled>
        비밀번호 변경
    </button>
    </a>
</body>
</html>
